In [7]:
import pandas as pd

In [3]:
text = ['Hello my name is james',
'james this is my python notebook',
'james trying to create a big dataset',
'james of words to try differnt',
'features of Count Vectorizer']

In [11]:
# convert the list to dataframe 
df = pd.DataFrame(text, columns=['Text'])

In [13]:
df

                                   Text
0                Hello my name is james
1      james this is my python notebook
2  james trying to create a big dataset
3        james of words to try differnt
4          features of Count Vectorizer

# Time to experiment 
- How can I count char in one row ?

In [17]:
df["char_count"] =  df["Text"].str.len()

In [19]:
df

                                   Text  char_count
0                Hello my name is james          22
1      james this is my python notebook          32
2  james trying to create a big dataset          36
3        james of words to try differnt          30
4          features of Count Vectorizer          28

In [25]:
# find first char 
df["first_char"] =  df["Text"].str[:1]
df["first_char"]

0    H
1    j
2    j
3    j
4    f
Name: first_char, dtype: object